torch==2.0.1
torchvision==0.15.2
transformers==4.31.0
tokenizers==0.12.1
sentencepiece==0.1.99

aiohttp
fastapi
httpx
markdown2
nh3
numpy
prompt_toolkit>=3.0.0
pydantic<2,>=1
requests
rich>=10.0.0
shortuuid
tiktoken
uvicorn
accelerate>=0.21
peft
protobuf
gradio
einops
#flash-attn>=2.0
wandb
openai<1
anthropic>=0.3
ray
black==23.3.0
pylint==2.8.2